{% extends 'base/option.html' %}
{% block content %}
{% load static %}

<div>
  <h5 style="color: #c4559f;">BỆNH NHÂN ĐÃ NHẬP VIỆN: <strong>{{count_hospital}}:</strong></h5>
  <ol class="list-group list-group-numbered mt-3">
    {% for patient in patients_hospital %}
    <li class="list-group-item d-flex justify-content-between align-items-start ">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ patient }}</div>
        Chỉnh sửa bệnh án
      </div>
    </li>
    {% empty %}
      <h3>Chưa có bệnh nhân nào</h3>
    {% endfor %}
  </ol>
</div>
{% endblock content %}