{% extends 'users/option.html' %}
{% block content %}
{% load static %}


<!-- Main Content Here -->
<div class="col-lg-8  center-block">
  <div class="loadMore">
    <div class="central-meta item">
      <div class="user-post">
        <div class="friend-info">
          <div class="friend-name">
            <ins>THÔNG TIN CÁ NHÂN
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                      {{ message }}
                    </div>
                    {% endfor %}
                  {% endif %}
                  <h6><strong>Thông tin </strong></h6>
                  <div style="font-size: 14px;">
                    <p>Trong vòng 14 ngày qua, Anh/Chị <b style="color: red;">Có</b>  đến quốc gia/vùng lãnh thổ nào (<b style="color: red;">Có</b>  thể đi qua nhiều quốc gia): 
                      {{form.CacNuocDiQua}}</p>
                    <p>Công ty làm việc: {{form.company}}</p>
                    <p>Bộ phận làm việc: {{form.part}}</p> 
                    <div class="row">
                      <p class="col-7">
                        Bạn Có  BHYT không? 
                      </p>
                      <div class="col-4">
                        {{form.BHYT}}
                      </div>
                    </div>
                  </div>
              
                  <h6 class="py-3"><strong>Trong vòng 14 ngày qua, Anh/Chị <b style="color: red;">Có</b>  thấy xuất hiện dấu hiệu nào sau đây không? (*)</strong></h6>
                  <div style="font-size: 14px;">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="row">
                          <p class="col-6">
                            Sốt
                          </p>
                          <div class="col-4">
                            {{form.Sot}}
                          </div>
                        </div>
                        <div class="row">
                          <p class="col-6">
                            Ho
                          </p>
                          <div class="col-4">
                            {{form.Ho}}
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="row">
                          <p class="col-6">
                            Khó Thở
                          </p>
                          <div class="col-4">
                            {{form.KhoTho}}
                          </div>
                        </div>
                        <div class="row">
                          <p class="col-6">
                            Viêm phổi
                          </p>
                          <div class="col-4">
                            {{form.ViemPhoi}}
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="row">
                          <p class="col-6">
                            Đau họng
                          </p>
                          <div class="col-4">
                            {{form.DauHong}}
                          </div>
                        </div>
                        <div class="row">
                          <p class="col-6">
                            Mệt mỏi
                          </p>
                          <div class="col-4">
                            {{form.Metmoi}}
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
              
                  <h6 class="py-3"><strong>Trong vòng 14 ngày qua, Anh/Chị <b style="color: red;">Có</b>  tiếp xúc với (*)</strong></h6>
                  <div style="font-size: 14px;">
                    <div class="row">
                      <p class="col-8">
                        Người bệnh hoặc nghi ngờ, mắc bệnh COVID-19 (*) 
                      </p>
                      <div class="col-4">
                        {{form.NghiNgo}}
                      </div>
                    </div>
        
                    <div class="row">
                      <p class="col-8">
                        Người từ nước <b style="color: red;">Có</b>  bệnh COVID-19 (*)
                      </p>
                      <div class="col-4">
                        {{form.CoBenh}}
                      </div>
                    </div>
        
                    <div class="row">
                      <p class="col-8">
                        Người <b style="color: red;">Có</b>  biểu hiện (Sốt, ho, khó thở, Viêm phổi) (*)
                      </p>
                      <div class="col-4">
                        {{form.CoBieuHien}}
                      </div>
                    </div>
                  </div>
              
                  <h6 class="py-3"><strong>Hiện tại Anh/Chị <b style="color: red;">Có</b>  các bệnh nào dưới đây (*)</strong></h6>
                  <div style="font-size: 14px;">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="row">
                          <p class="col-7">
                            Bệnh gan mãn tính
                          </p>
                          <div class="col-4">
                            {{form.Gan}}
                          </div>
                        </div>               
                        <div class="row">
                          <p class="col-7">
                            Bệnh máu mãn tính
                          </p>
                          <div class="col-4">
                            {{form.Mau}}
                          </div>
                        </div>              
                        <div class="row">
                          <p class="col-7">
                            Bệnh phổi mãn tính
                          </p>
                          <div class="col-4">
                            {{form.Phoi}}
                          </div>
                        </div>               
                        <div class="row">
                          <p class="col-7">
                            Bệnh thận mãn tính
                          </p>
                          <div class="col-4">
                            {{form.Than}}
                          </div>
                        </div>                
                        <div class="row">
                          <p class="col-7">
                            Bệnh tim mạch
                          </p>
                          <div class="col-4">
                            {{form.TimMach}}
                          </div>
                        </div>
                      </div>
        
                      <div class="col-lg-6">
                        <div class="row">
                          <p class="col-8">
                            Huyết áp cao
                          </p>
                          <div class="col-4">
                            {{form.HuyetApCao}}
                          </div>
                        </div>         
                        <div class="row">
                          <p class="col-8">
                            Suy giảm miễn dịch
                          </p>
                          <div class="col-4">
                            {{form.SuyGiamMienDich}}
                          </div>
                        </div>                
                        <div class="row">
                          <p class="col-8">
                            Người nhận ghép tạng, Tủy xương
                          </p>
                          <div class="col-4">
                            {{form.Ghep}}
                          </div>
                        </div>                
                        <div class="row">
                          <p class="col-8">
                            Tiểu đường
                          </p>
                          <div class="col-4">
                            {{form.TieuDuong}}
                          </div>
                        </div>                
                        <div class="row">
                          <p class="col-8">
                            Ung thư
                          </p>
                          <div class="col-4">
                            {{form.UngThu}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <h6 class="mt-3"><strong>Hỏi thêm:</strong></h6>
                  <div style="font-size: 14px;">
                    <div class="row">
                      <p class="col-7">
                        Bạn <b style="color: red;">Có</b>  đang trong thời gian thai kỳ hay không? (*)	
                      </p>
                      <div class="col-4">
                        {{form.ThaiKy}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group px-5" style="float:right">
                    <button type="submit" 
                            class="btn px-5 py-2" 
                            style="background-color: crimson;color: white;">
                    <b>Xác nhận</b></button>
                  </div>
                </fieldset>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock content %}
