{% extends 'base/option1.html' %}
{% block content %}
{% load static %}

<div class="col-lg-8  center-block">
  <div class="loadMore">
    <div class="central-meta item">
      <div class="user-post">
        <div class="friend-info">
          <div class="friend-name">
            <ins>
              <legend class="border-bottom mb-4 title-color"><h3>Đơn thuốc hôm nay</h3></legend>
              {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                          {{ message }}
                        </div>
                      {% endfor %}
              {% endif %}
              <form method="POST">
                {% csrf_token %}
                  <!--1-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 1</p>
                      <div>{{form.m1}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 1</p>
                      <div>{{form.d1}}</div>
                    </div>
                  </div>
                  <!--2-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 2</p>
                      <div>{{form.m2}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 2</p>
                      <div>{{form.d2}}</div>
                    </div>
                  </div>
                  <!--3-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 3</p>
                      <div>{{form.m3}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 3</p>
                      <div>{{form.d3}}</div>
                    </div>
                  </div>
                  <!--4-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 4</p>
                      <div>{{form.m4}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 4</p>
                      <div>{{form.d4}}</div>
                    </div>
                  </div>
                  <!--5-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 5</p>
                      <div>{{form.m5}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 5</p>
                      <div>{{form.d5}}</div>
                    </div>
                  </div>
                  <!--6-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 6</p>
                      <div>{{form.m6}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 6</p>
                      <div>{{form.d6}}</div>
                    </div>
                  </div>
                  <!--7-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 7</p>
                      <div>{{form.m7}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 7</p>
                      <div>{{form.d7}}</div>
                    </div>
                  </div>
                  <!--8-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 8</p>
                      <div>{{form.m8}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 8</p>
                      <div>{{form.d8}}</div>
                    </div>
                  </div>
                  <!--9-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 9</p>
                      <div>{{form.m9}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 9</p>
                      <div>{{form.d9}}</div>
                    </div>
                  </div>
                  <!--10-->
                  <div class="row">
                    <div class="col-8">
                      <p>Thuốc 10</p>
                      <div>{{form.m10}}</div>  
                    </div>
                    <div class="col-4">
                      <p>Liều 10</p>
                      <div>{{form.d10}}</div>
                    </div>
                  </div>   
                  <hr>               
                  <label for="m1" class="col-form-label">Ghi chú</label>
                  <div>{{form.note}}</div>
                  <button type="submit" 
                                class="btn px-5 py-2" 
                                style="background-color: crimson;color: white;">
                        <b>Xác nhận</b></button>
                </div>
              </form> 
            </ins>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}