{% extends 'base/option.html' %}
{% block content %}
{% load static %}


<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 title-color">{{name}}</legend>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <h3 class="title-color mb-4">Bệnh án </h3>
      {{ form_patient.as_p}}
      <div class="form-group">
        <button type="submit" class="btn bg-navbar white-color">Xác nhận</button>
      </div>
    </fieldset>
  </form>
</div>


{% endblock content %}

