{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous">
  <!--CSS-->
  <link rel="stylesheet" href="css/base.css" />
  <!--Bootstrap Icon-->
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  />
  <!--Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap" rel="stylesheet">
  <title>Care Plus</title>
  <style>
    .bg-navbar{
      background-color: #0064ab;
    }

    .title-color{
      color: #0064ab;
    }

    .white-color{
      color: white;
    }

    .navbar-brand{
      font-size: 16px;
      font-family: 'Signika Negative', sans-serif;
    }

    a:visited{
      color: #3a88bf;
    }

    .shadow-box{
      -moz-box-shadow: 0 0 4px #ccc;
      -webkit-box-shadow: 0 0 4px #ccc;
      box-shadow: 0 0 4px #ccc;
    }
  </style>
</head>
<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-navbar navbar-dark py-1">
    <div class="container-fluid">
      <a href="{% url 'home'%}" class="navbar-brand">WEBSITE HỖ TRỢ QUẢN LÝ F0 TẠI NHÀ</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navmenu">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link">
              <img src="{{request.user.profile.profile_pic.url}}" 
                    height="30"
                    width="30"
                    class="border border-2 rounded-circle"
                    alt="">
            </a>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn dropdown-toggle" 
                      type="button" 
                      style="color: white;"
                      id="dropdownMenuButton1" 
                      data-bs-toggle="dropdown" 
                      aria-expanded="false">
                {{user.last_name}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Trang cá nhân</a></li>
                {% if request.user.profile.isDoctor %}
                <li><a class="dropdown-item" href="{% url 'patienthome' %}">Trang quản lý</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <img src="{% static 'images/logout.svg' %}" 
                    height="25"
                    width="25"
                    alt="">
            </a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">
              <button type="button" class="btn btn-outline-warning btn-sm">Đăng nhập</button>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link">
              <button type="button" class="btn btn-warning px-3 btn-sm">Đăng ký</button>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--Section Menu-->
  <section class="py-3">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-2">
          <a href="{% url 'home'%}">
            <img src="{% static 'images/logo.svg' %}" alt="">
          </a>
        </div>
        <div class="col-6 py-2 menu-item">
          <nav class="nav">
            <a class="nav-link" href="{% url 'home'%}"><b>TRANG CHỦ</b></a>
            <a class="nav-link" href="#"><b>GIỚI THIỆU</b></a>
            <a class="nav-link" href="#"><b>HƯỚNG DẪN</b></a>
            <a class="nav-link" href="#"><b>LIÊN HỆ</b></a>
          </nav>
        </div>
        <div class="col col-lg-2 py-2" style="color:#0064ab;">
          <div class="row">
            <div class="col-4 mt-1">
              <img src="{% static 'images/mailicon.svg' %}" alt="">
            </div>
            <div class="col-8 mt-1" style="font-size: 11px; padding-left: 0;">
              <b>Mail</b> careplus@gmail.com
            </div>
          </div>
        </div>
        <div class="col col-lg-2 py-2" style="color:#0064ab;">
          <div class="row">
            <div class="col-4 mt-1">
              <img src="{% static 'images/phoneicon.svg' %}" alt="">
            </div>
            <div class="col-8 mt-1" style="font-size: 11px; padding-left: 0;">
              <b>Điện thoại</b> 0123456789
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% block content %}
  <div class="shadow-box rounded">
    <div class="bg-navbar rounded"> <h6 class="white-color p-2">Tuỳ chọn</h6></div>
  </div>
  {% endblock content %}
  

  <!--Boostrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
          crossorigin="anonymous"
  ></script>
</body>
</html>