{% load static %}
{% load notifications_tags %}

<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Bootstrap CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
			rel="stylesheet" 
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
			crossorigin="anonymous">
	<!--Custom JS-->
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/map-init.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
          crossorigin="anonymous"
  ></script>
	<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}

	<!--Bootstrap Icon-->
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
	/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>CarePlus</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="{% url 'home'%}" title=""><img src="{% static 'images/logo.svg' %}" alt="" width="50" height="50"></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>
		<nav id="menu" class="res-menu">
			<ul>
				<li><span>Forum</span>
					<ul>
						<li><a href="{% url 'forum-index' %}" title="">Forum Open Topic</a></li>
						<li><a href="{% url 'topic-add' %}" title="">Forum Create Topic</a></li>
					</ul>
				</li>
				<li><span>More pages</span>
					<ul>
						<li><a href="careers.html" title="">Careers</a></li>
						<li><a href="career-detail.html" title="">Career Detail</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		{% if request.user.is_authenticated %}
		<nav id="shoppingbag">
			<div>
				<div class="">
					<form method="post">
						<div class="setting-row">
							<a href="{% url 'profile-update' %}" ><span>My profile</span></a>
						</div>
						<div class="setting-row">
							<a href="{% url 'patienthome' %}" ><span>Show profile</span></a>
						</div>
						{% if request.user.profile.isDoctor %}
						<div class="setting-row">
							<a href="{% url 'patienthome' %}" ><span>Manager Patient</span></a>
						</div>
						{% endif %}
						<div class="setting-row">
							<a href="{% url 'changepasswd' %}" ><span>Change Password</span></a>
						</div>
						<div class="nav-item">
							<a href="{% url 'logout' %}" class="nav-link">
							<img src="{% static 'images/logout.svg' %}" 
									height="25"
									width="25"
									alt="">
							</a>
						</div>
					</form>
				</div>
			</div>
		</nav>
		{% else %}
		<nav id="shoppingbag">
			<div>
				<div class="">
					<form method="post">
						<div class="setting-row">
							<a href="{% url 'login' %}" ><span>Login</span></a>
						</div>
						<div class="setting-row">
							<a href="{% url 'register' %}" ><span>Register</span></a>
						</div>
					</form>
				</div>
			</div>
		</nav>
		{% endif %}
	</div><!-- responsive header -->
	
	<div class="topbar stick">
		<div class="logo">
			<a href="{% url 'home'%}" title=""><img src="{% static 'images/logo.svg' %}" alt="" width="70" height="70"></a>
		</div>
		
		<div class="top-area">
			<ul class="main-menu">
				<li>
					<a href="#" title="">Forum</a>
					<ul>
						<li><a href="{% url 'forum-index' %}" title="">Forum Open Topic</a></li>
						<li><a href="{% url 'create-add'%}" title="">Forum Create Topic</a></li>
					</ul>
				</li>
				<li>
					<a href="#" title="">More pages</a>
					<ul>
						<li><a href="knowledge-base.html" title="">knowledge base</a></li>
						<li><a href="widgets.html" title="">Widgts</a></li>
					</ul>
				</li>
			</ul>

			{% if request.user.is_authenticated %}
			<ul class="setting-area">
				<li>
					<a href="#" title="Notification" data-ripple="">
						<i class="fa fa-bell" aria-hidden="true" style="font-size:22px"></i>
						 <span class="badge">{% live_notify_badge %}</span>
					</a>
					<div class="dropdowns">
						<ul class="drops-menu">

						{% for notification in  user.notifications.unread %}
							<div>
								Notification from <b>{{ notification.actor }}</b>
							<button class="dropdown-item" type="button">{{ notification.description }}</button>			
							</div>
							<div class="dropdown-divider"></div>
						{% endfor %}
						</ul>
						<a href="notifications.html" title="" class="more-mesg">view more</a>
					</div>
				</li>
			</ul>
      <div class="user-img">
				<img src="{{request.user.profile.profile_pic.url}}" 
                    height="30"
                    width="30"
                    class="border border-2 rounded-circle"
                    alt="">
				<span class="status f-online"></span>
			</div>
      <span class="ti-menu main-menu" data-ripple=""></span>
      <div class="side-panel">
		  <h4 class="panel-title">General Setting</h4>
		    <form method="post">
          <div class="setting-row">
            <a href="{% url 'profile-update' %}" title="">Profile</a>
          </div>
          {% if request.user.profile.isDoctor %}
          <div class="setting-row">
            <a href="{% url 'patienthome' %}" title="">Manager Patient</a>
          </div>
          {% endif %}
          <div class="setting-row">
            <a href="{% url 'changepasswd' %}" title="">Change Password</a>
          </div>
          <div class="setting-row">
            <a href="{% url 'logout' %}" title="">Logout</a>
          </div>
      </div>
      
 



		{% else %}
    <span class="ti-menu main-menu" data-ripple=""></span>
      <div class="side-panel">
		  <h4 class="panel-title">General Setting</h4>
		    <form method="post">
          <div class="setting-row">
            <a href="{% url 'profile' %}" title="">Profile</a>
          </div>
          {% if request.user.profile.isDoctor %}
          <div class="setting-row">
            <a href="{% url 'addpatient'%}" title="">Manager Patient</a>
          </div>
          {% endif %}
          <div class="setting-row">
            <a href="{% url 'changepasswd' %}" title="">Change Password</a>
          </div>
          <div class="setting-row">
            <a href="{% url 'logout' %}" title="">Logout</a>
          </div>
      </div>

		{% endif %}
	

		</div>
	</div><!-- topbar -->
  <div class=”row”>

  <div class=”col-md-9″><br></div>
  <div class=”col-md-9″><br></div>
  </div>

	 {% block content %}
	<div class="shadow-box rounded">
		<div class="bg-navbar rounded"> <h6 class="white-color p-2">Tuỳ chọn</h6></div>
	</div>
	{% endblock content %}

  <div class=”col-md-9″><br></div>
  <div class=”col-md-9″><br></div>
	
</body>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="widget">
					<div class="foot-logo">
						<div class="logo">
							<a href="index-2.html" title=""><img src="{% static 'images/logo.svg' %}" alt=""></a>
						</div>	
						<p>
							Các bạn có thể liên hệ với chúng tôi để trở thành người hỗ trợ.
						</p>
					</div>
					<ul class="location">
						<li>
							<i class="ti-map-alt"></i>
							<p>33 XXXX, YYYY, ZZZZ</p>
						</li>
						<li>
							<i class="ti-mobile"></i>
							<p>+0123456789</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="widget">
					<div class="widget-title"><h4>THEO DÕI</h4></div>
					<ul class="list-style">
						<li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
						<li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
						<li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="widget">
					<div class="widget-title"><h4>Phổ biến</h4></div>
					<ul class="list-style">
						<li><a href="{% url 'profile-update' %}" title="">Thông tin cá nhân</a></li>
						<li><a href="{% url 'healthdeclare-update' %}" title="">Khai báo y tế</a></li>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class="widget">
					<div class="widget-title"><h4>Thành viên</h4></div>
					<ul class="list-style">
						<li><a href="about.html" title="">Nguyễn Thị Thu - 19522307</a></li>
						<li><a href="contact.html" title="">Nguyễn Lê Quốc Đạt - 19521336</a></li>
					</ul>
				</div>
			</div>				
		</div>
	</div>
</footer><!-- footer -->

</html>
	