{% extends 'base/option.html' %}
{% block content %}
{% load static %}


<!-- Main Content Here -->
<div style="font-family: 'Poppins', sans-serif;">
  <form method="POST" enctype="multipart/form-data" style="font-family: 'Poppins', sans-serif;">
    {% csrf_token %}
    <fieldset class="form-group px-5">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      <h5><strong>Thêm bệnh nhân</strong></h5>
      <div style="font-size: 16px;">
        <div class="row">
          <div class="col-8">
            <label for="CMND" class="form-label mt-3">CMND/CCCD</label>
            <div>{{add_form.CMND}}</div>
            <div class="error mt-2" style="font-size: 11px; color: brown;">
              {% for key, value in add_form.errors.items %}
              <span class="fieldWrapper">
                {{ value }}
              </span>
              {% endfor %}
            </div>
          </div>
          <div class="col-4 mt-5">
            <div class="form-group">
              <button type="submit" 
                      class="btn" 
                      style="background-color: crimson;color: white;">
              <b>Thêm</b></button>
            </div>  
          </div> 
        </div>
           
      </div>   
    </fieldset>
  </form>
  </div>
</div>
{% endblock content %}
