{% extends 'users/base.html' %}
{% block content %}
{% load static %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="profile_pic img-fluid" 
                        src="{{request.user.profile.profile_pic.url}}" 
                        alt="">
                <span ><p>{{request.user.first_name  }}</p></span>
                <span class="text-black-50">{{request.user.email}}</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="text">
                    <h2 class="text-center">Medical Record</h2>
                </div>
                <div class="shadow-box rounded">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group p-4 px-5">
                        <div class="row mt-3 d-flex">
                            <div class="col-5 ">
                                <p><strong>CCCD/CMND: </strong></p>
                                <p><strong>BHYT: </strong></p>
                            </div>
                            <div class="col-7">
                                <p> {{record_form.cccd}} </p>
                                <p> {{record_form.bhyt}} </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-sm-between"><p><strong>Trong vòng 21 ngày qua Anh/Chị đã đến vùng xác định có người mắc bệnh COVID-19 không? </strong></p><p> {{record_form.ques1}}</p></div>
                        <div class="d-flex justify-content-sm-between"><p><strong>Anh/Chị có sống, làm việc cùng người đã được xác định hoặc nghi ngờ mắc bệnh COVID -19 không?</strong></p><p> {{record_form.ques2}}</p></div>
                        <div class="d-flex justify-content-sm-between"><p><strong>Anh/Chị có ngồi gần trên cùng chuyến xe/tàu/máy bay ... với trường hợp xác định hoặc nghi ngờ mắc bệnh COVID-19 không? </strong></p><p> {{record_form.ques3}}</p></div>
                        <div class="d-flex justify-content-sm-between"><p><strong>Anh/Chị có tiếp xúc với người có một trong các biểu hiện sau đây (Sốt, ho, khó thở, Viêm phổi): </strong></p><p> {{record_form.ques4}}</p></div>
                        <div class="d-flex justify-content-sm-between"><p><strong>Trong vòng 21 ngày qua, Anh/Chị có thấy xuất hiện ít nhất 1 trong các dấu hiệu nào sau đây không: </strong></p><p> {{record_form.ques5}}</p></div>
                        </fieldset>
                        <div class="form-group gap-2 col-2 mx-auto">
                            <button class="btn btn-outline-info" type="submit"><a>Lưu khai báo y tế </a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock content %}