{% extends 'users/option.html' %}
{% block content %}
{% load static %}


<!-- Main Content Here -->
<div class="col-lg-8  center-block">
  <div class="loadMore">
    <div class="central-meta item">
      <div class="user-post">
        <div class="friend-info">
          <div class="friend-name">
            <ins>THÔNG TIN CÁ NHÂN
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                  </div>
                  {% endfor %}
                {% endif %}
                <div style="font-size: 16px;">
                  <!--first_name, last_name-->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto gap-3">
                      <label for="first_name" class="col-form-label">Họ</label>
                      <div>{{user_form.first_name}}</div>
                    </div>
                    <div class="col-auto">
                      <label for="last_name" class="col-form-label">Tên</label>
                      <div>{{user_form.last_name}}</div>
                    </div>
                    <span id="nameHelp" class="form-text">
                      <i class="bi bi-check-circle-fill"> </i>Tên bao gồm tên lót và tên.
                    </span>
                  </div>
                  <!--Email, CMND-->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto gap-3">
                      <label for="email" class="form-label mt-3">Email</label>
                      <div>{{user_form.email}}</div>
                    </div>
                    <div class="col-auto">
                      <label for="CMND" class="form-label mt-3">CMND/CCCD</label>
                      <div>{{profile_form.CMND}}</div>
                    </div>
                    <div class="error mt-2" style="font-size: 11px; color: brown;">
                      {% for key, value in form.errors.items %}
                      <span class="fieldWrapper">
                          {% if key == "email"%}
                            {{ value }}
                          {% endif %}
                      </span>
                      {% endfor %}
                    </div>
                  </div>
                  <!--Ngày sinh, Giới tính-->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="birthday" class="col-form-label">Ngày sinh</label>
                      <div>{{profile_form.birthday}}</div>
                    </div>
                    <div class="col-auto gap-3">
                      <label for="gender" class="col-form-label">Giới tính</label>
                      <div>{{profile_form.gender}}</div>
                    </div>
                    <span id="usernameHelp" class="form-text">
                      <i class="bi bi-check-circle-fill"></i> Ngày sinh dạng yy-mm-dd (năm-tháng-ngày)
                    </span>
                  </div>
                  <!--Tỉnh, Huyện-->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="city" class="col-form-label">Tỉnh/Thành phố</label>
                      <div>{{profile_form.city}}</div>
                    </div>
                    <div class="col-auto gap-3">
                      <label for="district" class="col-form-label">Quận/Huyện</label>
                      <div>{{profile_form.district}}</div>
                    </div>
                  </div>
                  <!--Địa chỉ, Xã-->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto gap-3">
                      <label for="commune" class="col-form-label">Xã/Phường</label>
                      <div>{{profile_form.commune}}</div>
                    </div>
                    <div class="col-auto">
                      <label for="address" class="col-form-label">Địa chỉ</label>
                      <div>{{profile_form.address}}</div>
                    </div>
                    
                    <span id="usernameHelp" class="form-text">
                      <i class="bi bi-check-circle-fill"></i> Số nhà, tổ, đội, ấp.
                    </span>
                  </div>
                  <!--Sdt, Nghề nghiệp-->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto gap-3">
                      <label for="phone" class="col-form-label">Số điện thoại</label>
                      <div>{{profile_form.phone}}</div>
                    </div>
                    <div class="col-auto">
                      <label for="career" class="col-form-label">Nghề nghiệp</label>
                      <div>{{profile_form.career}}</div>
                    </div>
                  </div>
                  <!--Tiêm vaccine-->
                  <div class="mt-3">
                    <label for="vaccination_status" class="col-form-label">Đã tiêm bao nhiêu mũi cacine</label>
                    <div>{{profile_form.vaccination_status}}</div>
                  </div>
                  <!--Đổi ảnh đại diện-->
                  <div class="mt-3">
                    <label for="profile_pic" class="col-form-label">Đổi ảnh đại diện</label>
                    <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic">
                  </div>
                  {% if request.user.profile.isDoctor %}
                  <h5 class="mt-5"><strong>Thông tin dành cho bác sĩ</strong></h5>
                  <!--Sdt, Nghề nghiệp-->
                  <div class="row g-3 align-items-center">
                    <div class="col-auto gap-3">
                      <label for="BenhVien" class="col-form-label">Bệnh viện</label>
                      <div>{{doctor_form.BenhVien}}</div>
                    </div>
                    <div class="col-auto">
                      <label for="ChuyenKhoa" class="col-form-label">Chuyên khoa</label>
                      <div>{{doctor_form.ChuyenKhoa}}</div>
                    </div>
                  </div>
                  {% endif %}
                </div>
                <div class="form-group">
                  <button type="submit" 
                          class="btn px-5 py-2" 
                          style="background-color: crimson;color: white;">
                  <b>Xác nhận</b></button>
                </div>            
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock content %}
