{% extends 'users/option.html' %}
{% block contentx %}
{% load static %}


<div class="col-lg-9  center-block">
  <div class="loadMore">
    <div class="central-meta item">
      <div class="user-post">
        <div class="friend-info">
          <div class="friend-name">
            <ins>
              <div class="row">
                <div class="col-lg-6">
                  <img src="{% static 'images/prevent.svg' %}" alt="">
                </div>
                <div class="col-lg-6 gap-3">
                  <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      <legend class="border-bottom mb-4 title-color"><h4>Đăng Ký</h4></legend>
                      {{ form.as_p}}
                      <button type="submit" 
                                class="btn px-5 py-2" 
                                style="background-color: crimson;color: white;">
                        <b>Xác nhận</b>
                      </button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </ins>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock contentx %}

