{% extends 'users/option.html' %}
{% block content %}
{% load static %}


<!-- Main Content Here -->
<div class="shadow-box rounded">
  <div class="bg-navbar"> <h6 class="white-color p-2">Thông tin cá nhân</h6></div>
  <div class="row pt-3 justify-content-start">
    <div class="col-6 px-5">
      <img class="profile_pic img-fluid" 
          src="{{request.user.profile.profile_pic.url}}" 
          alt="">
      <button type="button" class="btn btn-outline-info mt-4">
        <a class="link-button" href="{% url 'profile-update' %}" id="profile">Chỉnh sửa thông tin cá nhân</a>
      </button>
    </div>
    <div class="col-6" style="padding: 0; font-size: 14px;">
      <div class="row">
        <div class="col-5">
          <p><strong>Họ và tên </strong></p>
          <p><strong>Email </strong></p>
          <p><strong>Ngày sinh </strong></p>
          <p><strong>Giới tính </strong></p>
          <p><strong>Tỉnh, thành phố </strong></p>
          <p><strong>Quận, huyện </strong></p>
          <p><strong>Xã, phường </strong></p>
          <p><strong>Địa chỉ </strong></p>
          <p><strong>Điện thoại </strong></p>
          <p><strong>Nghề nghiệp </strong></p>
          <p><strong>Đã tiêm </strong></p>
          <p><strong>Loại tài khoản</strong></p> 
        </div>
        <div class="col-7">
          <p> {{user.first_name}} {{request.user.last_name}}</p>
          <p> {{request.user.email}} </p>
          <p>{{request.user.profile.birthday}} </p>
          <p>{{request.user.profile.gender}} </p>
          <p>{{request.user.profile.city}} </p>
          <p>{{request.user.profile.district}} </p>
          <p>{{request.user.profile.commune}} </p>
          <p>{{request.user.profile.address}} </p>
          <p>{{request.user.profile.phone}} </p>
          <p>{{request.user.profile.career}} </p>
          <p>{{request.user.profile.vaccination_status}} </p>
          <p>{{request.user.profile.type_account}} </p> 
        </div>
      </div>
    </div>  
  </div>
</div>

{% endblock content %}