{% extends 'users/option.html' %}
{% block content %}
{% load static %}


<!-- Main Content Here -->
<div class="shadow-box rounded">
  <div class="bg-navbar"> <h6 class="white-color p-2">Khai báo y tế</h6></div>
  <div class="px-5">
    <div class="mb-3">
      <button type="button" class="btn btn-outline-info mt-4">
        <a class="link-button" href="{% url 'profile-update' %}" id="profile">Chỉnh sửa phiếu khai báo y tế</a>
      </button>
    </div>
    <h6><strong>Thông tin </strong></h6>
    <div style="font-size: 14px;">
      <p>Trong vòng 14 ngày qua, Anh/Chị có đến quốc gia/vùng lãnh thổ nào (Có thể đi qua nhiều quốc gia): 
        {{request.user.healthdeclare.CacNuocDiQua}}</p>
      <p>Công ty làm việc: {{request.user.healthdeclare.company}}</p>
      <p>Bộ phận làm việc: {{request.user.healthdeclare.part}}</p> 
    </div>

    <h6><strong>Trong vòng 14 ngày qua, Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không? (*)</strong></h6>
    <div style="font-size: 14px;">
      <p>Sốt: 
        {% if request.user.healthdeclare.Sot == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Ho: 
        {% if request.user.healthdeclare.Ho == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Khó thở: 
        {% if request.user.healthdeclare.KhoTho == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Viêm phổi: 
        {% if request.user.healthdeclare.ViemPhoi == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Đau họng: 
        {% if request.user.healthdeclare.DauHong == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Mệt mỏi: 
        {% if request.user.healthdeclare.MetMoi == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
    </div>

    <h6><strong>Trong vòng 14 ngày qua, Anh/Chị có tiếp xúc với (*)</strong></h6>
    <div style="font-size: 14px;">
      <p>Người bệnh hoặc nghi ngờ, mắc bệnh COVID-19 (*): 
        {% if request.user.healthdeclare.NghiNgo == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Người từ nước có bệnh COVID-19 (*): 
        {% if request.user.healthdeclare.CoBenh == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Người có biểu hiện (Sốt, ho, khó thở, Viêm phổi) (*)	 	: 
        {% if request.user.healthdeclare.CoBieuHien == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
    </div>

    <h6><strong>Hiện tại Anh/Chị có các bệnh nào dưới đây (*)</strong></h6>
    <div style="font-size: 14px;">
      <p>Bệnh gan mãn tính (*): 
        {% if request.user.healthdeclare.Gan == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Bệnh máu mãn tính (*): 
        {% if request.user.healthdeclare.Máu == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Bệnh phổi mãn tính (*): 
        {% if request.user.healthdeclare.Phoi == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Bệnh thận mãn tính (*): 
        {% if request.user.healthdeclare.Than == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Bệnh tim mạch (*): 
        {% if request.user.healthdeclare.TimMach == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Huyết áp cao (*): 
        {% if request.user.healthdeclare.HuyetApCao == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Suy giảm miễn dịch (*): 
        {% if request.user.healthdeclare.SuyGiamMienDich == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Người nhận ghép tạng, Tủy xương (*): 
        {% if request.user.healthdeclare.Ghep == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Tiểu đường (*): 
        {% if request.user.healthdeclare.TieuDuong == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
      <p>Ung thư (*): 
        {% if request.user.healthdeclare.UngThu == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
    </div>

    <h6 class="mb-3"><strong>Hỏi thêm:</strong></h6>
    <div style="font-size: 14px;">
      <p>Bạn có đang trong thời gian thai kỳ hay không? (*)		: 
        {% if request.user.healthdeclare.ThaiKy == True %}
        Có
        {% else %}
        Không 
        {% endif %}
      </p>
    </div>
  </div>
</div>

{% endblock content %}